

<suite name="Ecommerce Test Suite" parallel="methods"
	thread-count="2">

	<listeners>
		<listener
			class-name="com.ecommerce.testsuite.listeners.ExtentTestListener" />
	</listeners>

	<test name="Login Test">

		<classes>
			<class name="com.ecommerce.testsuite.tests.LoginTest" />
		</classes>

	</test>

</suite>